@model RentMate.Models.ManageRolesViewModel

<h2>Uredi vloge za @Model.UserEmail</h2>

<form asp-action="ManageRoles" method="post">
    <input type="hidden" asp-for="UserId" />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Vloga</th>
                <th>Dodeljena</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Roles.Count; i++)
        {
            <tr>
                <td>@Model.Roles[i].RoleName</td>
                <td>
                    <input asp-for="Roles[i].IsSelected" type="checkbox" class="form-check-input" />
                    <input asp-for="Roles[i].RoleName" type="hidden" />
                </td>
            </tr>
        }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Shrani</button>
    <a asp-action="Index" class="btn btn-secondary">Nazaj</a>
</form>


